[submodule "system/submodules/bootstrap"]
	path = system/submodules/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "system/submodules/noUiSlider"]
	path = system/submodules/noUiSlider
	url = https://github.com/leongersen/noUiSlider
[submodule "system/submodules/Font-Awesome"]
	path = system/submodules/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "system/submodules/animate.css"]
	path = system/submodules/animate.css
	url = https://github.com/daneden/animate.css
[submodule "system/submodules/selectize.js"]
	path = system/submodules/selectize.js
	url = https://github.com/selectize/selectize.js
