<% @meta_title = "Home" %>
<%= meta_title %>

<%= container do %>
  <%= row do %>
    <div class="col-xs-24">
      <%= page_content do %>
        <p>Find me in app/views/welcome/index.html.erb</p>
      <% end %>
    </div>
  <% end %>
<% end %>
