<% unless false %>
  <div class="b-jumbotron text-xs-center center-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-24">
          <h1 class="m-b-1" style="color: white">Share knowledges with you classmates</h1>
          <p class="lead font-weight-bold" style="color: white">and vice versa</p>
        </div>
      </div>
    </div>
    <%= render 'search_form' %>
  </div>
<% end %>
