<% active = (params[:controller] == 'devise/registrations') ? ' active' : '' %>
<!--
<li class="nav-item<%= active %>">
  <%= link_to 'Sign up', new_user_registration_path, class: "nav-link#{active}" %>
</li>
-->
<% active = (params[:controller] == 'devise/sessions') ? ' active' : '' %>
<li class="nav-item<%= active %>">
  <%= link_to 'Log in', new_user_session_path, class: "nav-link#{active}" %>
</li>
<!--
<li class="nav-item btn-group">
  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Sign up</a>
  <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>
-->

