<div class="text-center">

  <a class="btn btn-social-icon btn-twitter" style="color: white">
    <%= icon 'twitter' %>
  </a>

  <a class="btn btn-social-icon btn-google" style="color: white">
    <%= icon 'google' %>
  </a>

  <a class="btn btn-social-icon btn-facebook" style="color: white">
    <%= icon 'facebook' %>
  </a>

</div>
