<a class="btn btn-block btn-social btn-twitter" style="color: white">
  <%= icon 'twitter' %> Sign in with Twitter
</a>

<a class="btn btn-block btn-social btn-google" style="color: white">
  <%= icon 'google' %> Sign in with Google
</a>

<a class="btn btn-block btn-social btn-facebook" style="color: white">
  <%= icon 'facebook' %> Sign in with Facebook
</a>

<h3 class="b-strikethrough center-block text-muted m-t-2 m-b-1">or</h3>
